body {
  background-image: url("https://assets.codepen.io/11868974/Infinite+Azure.jpeg");
}

h1 {
  text-align:center;
  text-size:36px;
  text-family:Verdana;
  color:black;
  width:100%;
}

#top {
  Background-color:burlywood;
  width:100%;
}
